@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------ COLOR VARIABLES ------- */
.light {
  --bgColor: 220, 220, 230; /* #dcdce6 */
  --bgColorLight: 230, 230, 240; /* #e6e6f0 */
  --bgColorDark: 200, 200, 210; /* #c8c8d2 */
  --bgColorHighlight: 190, 190, 200; /* #bebec8 */

  --textColor: 0, 0, 5; /* #000000 */
  --textColorLight: 100, 100, 110; /* #64646e */

  --accentColor: 4, 178, 176; /* #04b2b0 */
  --accentColorLight: 0, 140, 140; /* #008c8c */
}

.dark {
  --bgColor: 30, 30, 33; /* #1e1e21 */
  --bgColorLight: 35, 35, 38; /* #232326 */
  --bgColorDark: 45, 45, 48; /* #2d2d30 */
  --bgColorHighlight: 55, 55, 58; /* #373739 */

  --textColor: 220, 220, 225; /* #ffffff */
  --textColorLight: 135, 135, 145; /* #87878f */

  --accentColor: 0, 254, 251; /* #00fefb */
  --accentColorLight: 0, 180, 180; /* #00b4b4 */
}

/* ------ SCROLLBAR STYLES ------- */
.main::-webkit-scrollbar {
  width: 0.5em;
}
.main::-webkit-scrollbar-track {
  background-color: rgb(var(--bgColorLight));
}
.main::-webkit-scrollbar-thumb {
  background-color: rgb(var(--bgColorDark));
  border-radius: 0.5em;
}
.main::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--textColorLight));
}

.history_nav::-webkit-scrollbar {
  width: 0.5em;
}
.history_nav::-webkit-scrollbar-track {
  background-color: rgb(var(--bgColorLight));
}
.history_nav::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--textColorLight));
}
.history_nav::-webkit-scrollbar-thumb {
  background-color: rgb(var(--bgColorDark));
  border-radius: 0.5em;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: 0.05em;
}

/* ------ GLOBAL STYLES ------- */
html,
body {
  min-height: 100%;
}

.loader {
  aspect-ratio: 3;
  --_g: no-repeat
    radial-gradient(circle closest-side, rgb(var(--textColorLight)) 90%, #0000);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}

/* Active class for CustomNavLink */
.navigation a.active {
  color: rgb(var(--textColor));
}

/* ------ MARKDOWN STYLES ------- */
.markdown_content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.markdown_content ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.markdown_content blockquote {
  border-left: 5px solid #d4d6dc;
  padding-left: 20px;
  margin: 20px 0;
}

.markdown_content pre {
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
}

.markdown_content pre code {
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.markdown_content table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.markdown_content table th,
.markdown_content table td {
  border: 1px solid #d4d6dc;
  padding: 10px;
}

.markdown_content img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.markdown_content a {
  text-decoration: underline;
  color: rgb(var(--accentColor));
}

.markdown_content a:hover {
  color: rgb(var(--accentColorLight));
}

.markdown_content h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0;
  /* color: rgb(var(--textColorLight)); */
}

.markdown_content h1 {
  font-size: 2em;
}

.markdown_content h2 {
  font-size: 1.6em;
}

.markdown_content h3 {
  font-size: 1.35em;
}

.markdown_content h4 {
  font-size: 1.2em;
}

.markdown_content p {
  margin: 20px 0;
}

.markdown_content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.markdown_content ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.markdown_content strong {
  font-weight: 500;
}
