@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: 0.05em;
}

html,
body {
  min-height: 100%;
}

.navigation a {
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  width: 200px;
}

.navigation a:hover {
  background-color: white;
}

.navigation a.active {
  color: #171d28;
}
